.genre__container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 6px;
    color: white;
}

.genre__container span{
    height: 20px;
    width: 20px;
    background-color: #a00;
    margin-right: 6px;
    border-radius: 20%;
}

.date-release{
    color: white;
}