.trends{
    width: 100%;
    height: 100vh;
    margin-bottom: 100px;
    padding-top: 100px;
    max-width: 100%;
}

.trends-title{
    margin-left: 20px;
    font-size: 2rem;
    color: white;
    letter-spacing: 2px;
    font-weight: bolder;
}

.trends-title b{
    color: #aa0000;
}

a{
    text-decoration: none;
}