.items-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 56px;
    margin-top: 20px;
    transform: translateY(-5px);
}

.items-container svg{
    width: 100%;
    height: 50%;
    transition: transform .1s ease-in-out;
}

.items-container svg:hover{
    transform: scale(1.2);
}