.categories{
    width: 100%;
    height: auto;
    margin-bottom: 100px;
}

.categories-title{
    margin: 0 0 60px 20px;
    font-size: 2rem;
    color: white;
    letter-spacing: 2px;
    font-weight: bolder;
}

.categories-title b{
    color: #aa0000;
}
