.movieDetail-container {
    width: 100%;
    height: 100%;
    margin-bottom: 100%;
}

.movie-image{
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  margin-bottom: 50px;
}

.arrow-left__container{
  width: 60px;
  height: 40px;
  position: absolute;
  top: 100px;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-opacity{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000a;
}

.arrow-left{
  fill: #a00;
  width: 50%;
}

.movieDetail-article{
  display: flex;
}

.title-movie__container{
  width: 100%;
  height: auto;
  padding: 10px;
  text-align: center;
  font-size: 1.9rem;
  z-index: 1;
  word-wrap: break-word;
}


.movieDescription{
  padding: 0 8px;
  margin-bottom: 100px ;
}

.movieDetail-tagline{
  color: white;
  font-size: 1rem;
  padding: 10px;
  text-align: center;
  transform: translateY(-10px);
}


.movieDescription-container{
  width: 100%;
  max-width: 100%;
  height: auto;
  background-color: white;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  padding: 20px;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.movieDescription-details{
  display: flex;
  justify-content: space-between;
}

.movieDescription-title{
  font-size: 1.2rem;
  color: #a00;
}

.movieDescription-rate{
  color: yellow;
  display: flex;
  align-items: center;
}


.movieDescription-rate p{
  color: black;
  font-weight: 500;
  margin-left: 6px;
}

.movieDescription-overview__container{
  width: 100%;
}

.movieDetails-star{
  font-size: 1.3rem;
}

.movieDescription-overview{
  margin-top: 30px;
}

.date-release{
  font-weight: 700;
}

.movieDetail-genres{
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 50px 0;
}

.details-image__loading{
  width: 100%;
  background-color: black;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #a00 transparent #a00 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.movie-loading__container{
  overflow-x: scroll;
  overflow-y: scroll;
  white-space: nowrap;
  height: 241px;
  padding-bottom: 16px;
  padding-left: 10px;
}


.movies-loading{
  width: 100px;
  height: 80%;
  display: inline-block;
  margin: 10px;
    background-color: #000;
    border-radius: 8px;
    animation: loading-skeleton infinite 1.5s;
}

.movies-loading:nth-child(2){
  animation-delay: .2s;
}
.movies-loading:nth-child(3){
  animation-delay: .4s;
}
.movies-loading:nth-child(4){
  animation-delay: .6s;
}
.movies-loading:nth-child(5){
  animation-delay: .8s;
}

@keyframes loading-skeleton{
  0%, 100%{
    opacity: 100%;
  }
  50%{
    opacity: 0%;
  }
}