.movieDetail-container {
    width: 100%;
    height: 100%;
    margin-bottom: 100%;
}

.movie-image{
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  margin-bottom: 50px;
}

.arrow-left__container{
  width: 80px;
  height: 60px;
  position: absolute;
  top: 100px;
  left: 0;
  background-color: black;
  border-bottom-right-radius: 100px;
}

.background-opacity{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000a;
}

.arrow-left{
  fill: #a00;
  width: 40%;
  transform: translate(50%, 20%);
}

.movieDetail-article{
  display: flex;
}

.title-movie__container{
  width: 100%;
  height: auto;
  padding: 10px;
  text-align: center;
  font-size: 1.9rem;
  z-index: 1;
  word-wrap: break-word;
}


.movieDescription{
  padding: 0 8px;
  margin-bottom: 100px ;
}

.movieDetail-tagline{
  color: white;
  font-size: 1rem;
  padding: 10px;
  text-align: center;
  transform: translateY(-10px);
}


.movieDescription-container{
  width: 100%;
  max-width: 100%;
  height: 400px;
  background-color: white;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  padding: 20px;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.movieDescription-details{
  display: flex;
  justify-content: space-between;
}

.movieDescription-title{
  font-size: 1.2rem;
  color: #a00;
}

.movieDescription-rate{
  color: yellow;
  display: flex;
  align-items: center;
}


.movieDescription-rate p{
  color: black;
  font-weight: 500;
  margin-left: 6px;
}

.movieDescription-overview__container{
  width: 100%;
}

.movieDetails-star{
  font-size: 1.3rem;
}

/* .movieDescription-overview{
  transform: translateY(-100%);
} */

.date-release{
  font-weight: 700;
}

.movieDetail-genres{
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
}

