.season-option__container{
    background-color: black;
    height: 150px;
    color: #a00;
    width: 50%;
    overflow: hidden;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    opacity: 0;
    pointer-events: none;
    margin-bottom: 30px;
}

.season-option__container.active{
    overflow-y: scroll;
    opacity: 1;
    transition: opacity .5s ease;
    pointer-events: all;
}

.season-option__container::-webkit-scrollbar{
    width: 6px;
    background: #0d141f;
    border-radius: 10px;
}

.season-option__container::-webkit-scrollbar-thumb{
    background-color: #a00;
    border-radius: 10px;

}

.season-option__default{
    width: 50%;
    height: 30px;
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 6px;
    background-color: black;
    color: #a00;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.season-option__default svg{
    fill: #a00;
    width: 8px;
    transform: rotate(90deg);
}

.season-option__default svg.rotate{
    transform: rotate(270deg);
}

.seriesDescription-title{
    font-size: 1.2rem;
    color: #a00;
    margin-bottom: 10px;
}

.series-data__relase{
    font-weight: 700;
    margin-bottom: 10px;
}