.trends-movies__container{
  width: 150px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 200px;
  border-radius: 6px;
}

.trends-movies__title{
    color: white;
    text-align: center;
}

.trends-movies__title--loading{
    background-color: #333;
    width: 90%;
    height: 20px;
    color: #333;
    text-align: center;
    border-radius: 2px;
    font-size: 1.3rem;
    animation: loading-skeleton infinite 1.5s;
}

@keyframes loading-skeleton{
    0%, 100%{
      opacity: 100%;
    }
    50%{
      opacity: 0%;
    }
  }