.logo-container{
    letter-spacing: 2px;
    height: 60%;
    width: 60%;
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.logo{
    text-decoration: none;
}

.logo-title, .logo-letters{
    font-size: 2rem;
    color: white;
    font-weight: 900;
}

.logo-letters{
    color: #a00;
}