.genre-option{
    width: 100%;
    height: auto;
    margin: 10px 0;
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.genre-option label{
    position: relative;
    padding-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.genre-option label::before{
    content: "";
    width: 10px;
    height: 50%;
    left: 0;
    border: 1px solid red;
    position: absolute;
}

.genre-option input{
    display: none;
}

