.search-container{
    position: absolute;
    width: 90%;
    height: 60%;
    background-color: #0007;
    top: 150%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-left: 10px;
    z-index: -1;
    transition: top .3s linear;
}

.search-container input{
    width: 100%;
    height: 100%;
    border: none;
    background-color: #0000;
    color: white;
    font-size: 1.2rem;
    outline: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.search-container input::placeholder{
    color: white;
}

.back{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    background-color: #a00;
}


.button-search{
    width: 16%;
    height: 100%;
    background-color: #a00;
    outline: none;
    border: none;
    display: flex;
    justify-content: center;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.button-search svg{
    width: 26px;
    fill: #000;
}

.inactive{
    position: absolute;
    width: 90%;
    height: 60%;
    background-color: #0007;
    top: -150%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    padding-left: 6px;
    transition: top .3s linear;
}

.inactive input{
    width: 100%;
    height: 100%;
    border: none;
    background-color: #0000;
    color: white;
    font-size: 1.2rem;
    outline: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.icon-search{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 2rem;
    font-weight: 600;
}