.search-container{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #20221f;
    top: 0;
    left: 0;
    padding-left: 6px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.search-container input{
    width: 100%;
    height: 100%;
    border: none;
    background-color: #20221f;
    font-size: 1.2rem;
    color: white;
    outline: none;
}

.back{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.back svg{
    display: inline-block;
    width: 30px;
    height: 30px;
    transform: rotate(180deg);
    fill: #fff;
}

.inactive{
    display: none;
}